# Ignore compiled files
*.class
*.jar
*.war

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore logs and temporary files
logs/
tmp/
microservices/python/prj4/env/
fast_api/todos/env/
fast_api/todos/__pycache__/
fast_api/planner/env/
fast_api/planner/__pycache__/

# Ignore configuration files with sensitive information
