# Ignore compiled files
*.class
*.jar
*.war


# Ignore IDE-specific files
.idea/
.vscode/

# Ignore logs and temporary files
logs/
tmp/
microservices/python/prj4/env/
fast_api/todos/env/
fast_api/todos/__pycache__/
farmstack/backend/env/
armstack/backend/__pycache__/
microservice_apis/2 Basic API Implementation/env/
bobby_dfr_course/env/
flask/rp_flask_api/env/
flask/practice2/env/

# Ignore configuration files with sensitive information
fast_api/planner/.env
